**/.stack-work
**/deployment
!./deployment
ca/ca-key.pem
pgdata
Procfile
.env
sample.env
docker-sample.env
pids
pgadmin
frontend/**/node_modules
frontend/node_modules
logs
images
docker-secondary-agent
