.env
docker.env
pgdata
pgadmin
docker-master-server/.env
docker-master-server/stands
frontend/node_modules
frontend/**/node_modules
frontend/**/.vscode
frontend/**/dist

images
logs
pids
static/js/*
!static/js/navbar.js
static/css/*

# tag files
**/tags
